@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("tailwind/Inter-roman.ttf") format("truetype");
  font-named-instance: "Regular";
}

@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url("tailwind/Inter-italic.ttf") format("truetype");
  font-named-instance: "Italic";
}

/* TAILWIND RESET */

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: currentColor;
  /* 2 */
}

::before,
::after {
  --tw-content: "";
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
*/

#text {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
  tab-size: 4;
  /* 3 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

#text {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font family by default.
2. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/* TAILWIND PROSE VARIABLES */

:root {
  /* Slate color scheme */
  --theme-50: #f8fafc;
  --theme-100: #f1f5f9;
  --theme-200: #e2e8f0;
  --theme-300: #cbd5e1;
  --theme-400: #94a3b8;
  --theme-500: #64748b;
  --theme-600: #475569;
  --theme-700: #334155;
  --theme-800: #1e293b;
  --theme-900: #0f172a;

  --tw-prose-body: var(--theme-700);
  --tw-prose-headings: var(--theme-900);
  --tw-prose-lead: var(--theme-600);
  --tw-prose-links: var(--theme-900);
  --tw-prose-bold: var(--theme-900);
  --tw-prose-counters: var(--theme-500);
  --tw-prose-bullets: var(--theme-300);
  --tw-prose-hr: var(--theme-200);
  --tw-prose-quotes: var(--theme-900);
  --tw-prose-quote-borders: var(--theme-200);
  --tw-prose-captions: var(--theme-500);
  --tw-prose-code: var(--theme-900);
  --tw-prose-pre-code: var(--theme-200);
  --tw-prose-pre-bg: var(--theme-800);
  --tw-prose-th-borders: var(--theme-300);
  --tw-prose-td-borders: var(--theme-200);
  --tw-prose-invert-body: var(--theme-300);
  --tw-prose-invert-headings: #fff;
  --tw-prose-invert-lead: var(--theme-400);
  --tw-prose-invert-links: #fff;
  --tw-prose-invert-bold: #fff;
  --tw-prose-invert-counters: var(--theme-400);
  --tw-prose-invert-bullets: var(--theme-600);
  --tw-prose-invert-hr: var(--theme-700);
  --tw-prose-invert-quotes: var(--theme-100);
  --tw-prose-invert-quote-borders: var(--theme-700);
  --tw-prose-invert-captions: var(--theme-400);
  --tw-prose-invert-code: #fff;
  --tw-prose-invert-pre-code: var(--theme-300);
  --tw-prose-invert-pre-bg: rgb(0 0 0 / 50%);
  --tw-prose-invert-th-borders: var(--theme-600);
  --tw-prose-invert-td-borders: var(--theme-700);
}

#write {
  font-size: 1.25rem /* 20px */;
  line-height: 1.8;
}

/* TAILWIND PROSE IMPLEMENTATION */

html,
body {
  font-family: "Inter";
}

/* on Windows/Linux, it is the part that is not titlebar or status bar. */
content {
}

#write {
  color: var(--tw-prose-body);
  max-width: 60ch;
}

#write :where(:first-child) {
  margin-top: 0;
}

#write :where(:last-child) {
  margin-bottom: 0;
}

/**
  * ---------------------
  * Block Elements
  */

/* yaml */
pre.md-meta-block {
  background-color: var(--theme-100);
  color: var(--theme-400);
}

/* headings */
h1 {
  color: var(--tw-prose-headings);
  font-weight: 800;
  font-size: 2.8em;
  margin-top: 0;
  margin-bottom: 0.8571429em;
  line-height: 1;
}

h1 strong {
  font-weight: 900;
}

h2 {
  color: var(--tw-prose-headings);
  font-weight: 700;
  font-size: 1.8em;
  margin-top: 1.5555556em;
  margin-bottom: 0.8888889em;
  line-height: 1.1111111;
}

h2 strong {
  font-weight: 800;
}

h3 {
  color: var(--tw-prose-headings);
  font-weight: 600;
  font-size: 1.5em;
  margin-top: 1.6em;
  margin-bottom: 0.6666667em;
  line-height: 1.3333333;
}

h3 strong {
  font-weight: 700;
}

h4 {
  color: var(--tw-prose-headings);
  font-weight: 600;
  margin-top: 1.8em;
  margin-bottom: 0.6em;
  line-height: 1.6;
}

h4 strong {
  font-weight: 700;
}

h2 code {
  font-size: 0.8611111em;
}

h3 code {
  font-size: 0.9em;
}

h2 + * {
  margin-top: 0;
}

h3 + * {
  margin-top: 0;
}

h4 + * {
  margin-top: 0;
}

/* table */

table {
  width: 100%;
  table-layout: auto;
  text-align: left;
  margin-top: 2em;
  margin-bottom: 2em;
  font-size: 0.9em;
  line-height: 1.5555556;
}

/* table header */

thead {
  border-bottom-width: 1px;
  border-bottom-color: var(--tw-prose-th-borders);
}

thead th {
  color: var(--tw-prose-headings);
  font-weight: 600;
  vertical-align: bottom;
  padding-right: 0.6666667em;
  padding-bottom: 0.8888889em;
  padding-left: 0.6666667em;
}

thead th:first-child {
  padding-left: 0;
}

thead th:last-child {
  padding-right: 0;
}

tbody tr {
  border-bottom-width: 1px;
  border-bottom-color: var(--tw-prose-td-borders);
}

tbody tr:last-child {
  border-bottom-width: 0;
}

tbody td {
  vertical-align: baseline;
  padding-top: 0.8888889em;
  padding-right: 0.6666667em;
  padding-bottom: 0.8888889em;
  padding-left: 0.6666667em;
}

tbody td:first-child {
  padding-left: 0;
}

tbody td:last-child {
  padding-right: 0;
}

/* table row */
tr {
}

/* table cell */
td,
th {
}

/* tooltip above tables */
.md-table-edit {
}

/* lists */

ol {
  list-style-type: decimal;
  padding-left: 1.6em;
}

li {
  margin-top: 0.6em;
  margin-bottom: 0.6em;
}

ul {
  list-style-type: disc;
  padding-left: 1.6em;
}

#write ul.task-list {
  padding-left: 0;
}

#write li.task-list-item {
  padding-left: 2em;
}

#write input[type="checkbox"] {
  margin-left: 0.375em;
}

ol > li::marker {
  font-weight: 400;
  color: var(--tw-prose-counters);
}

ul > li::marker {
  color: var(--tw-prose-bullets);
}

ul > li,
ol > li {
  padding-left: 0.4em;
}

ul > li p {
  margin-top: 0.8em;
  margin-bottom: 0.8em;
}

#write > ul > li > *:first-child,
#write > ol > li > *:first-child {
  margin-top: 1.2em;
}

#write > ul > li > *:last-child,
#write > ol > li > *:last-child {
  margin-bottom: 1.2em;
}

ul ul,
ul ol,
ol ul,
ol ol {
  margin-top: 0.8em;
  margin-bottom: 0.8em;
}

/* blockquote */
blockquote {
  font-weight: 500;
  font-style: italic;
  color: var(--tw-prose-quotes);
  border-left-width: 0.25rem;
  border-left-color: var(--tw-prose-quote-borders);
  quotes: "\201C""\201D""\2018""\2019";
  margin-top: 1.6em;
  margin-bottom: 1.6em;
  padding-left: 1.0666667em;
}

blockquote p:first-of-type::before {
  content: open-quote;
}

blockquote p:last-of-type::after {
  content: close-quote;
}

/* hr */
hr {
  border-color: var(--tw-prose-hr);
  border-top-width: 1px;
  margin-top: 2.8em;
  margin-bottom: 2.8em;
}

hr + * {
  margin-top: 0;
}

p {
  margin-top: 1.2em;
  margin-bottom: 1.2em;
}

pre {
  color: var(--tw-prose-pre-code);
  overflow-x: auto;
  font-weight: 400;
  font-size: 0.9em;
  line-height: 1.7777778;
  margin-top: 2em;
  margin-bottom: 2em;
  border-radius: 0.5rem /* 8px */;
  padding-top: 1.1111111em;
  padding-right: 1.3333333em;
  padding-bottom: 1.1111111em;
  padding-left: 1.3333333em;
}

pre code {
  background-color: transparent;
  border-width: 0;
  border-radius: 0;
  padding: 0;
  font-weight: inherit;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
}

pre code::before {
  content: none;
}

pre code::after {
  content: none;
}

[class~="lead"] {
  color: var(--tw-prose-lead);
  font-size: 1.25em;
  line-height: 1.6;
  margin-top: 1.2em;
  margin-bottom: 1.2em;
}

/* diagram panel */
.md-diagram-panel {
}

/* diagram panel in preview */
#write .md-focus .md-diagram-panel {
}

/* reference link definition */
.md-def-link {
}

/* footnote definition */
.md-def-footnote {
}

/**
  * Code Fences
  * see http://support.typora.io/Code-Block-Styles
  */

.md-fences {
  background-color: var(--tw-prose-pre-bg);
}

#write .CodeMirror-line {
  margin: 0;
  padding: 0;
}

/**
  * Mermaid Diagrams
  * see https://github.com/knsv/mermaid/blob/master/dist/mermaid.css
  */

/**
  * Inline Elements
  */

/* basic styles */

.prose-xl :where(h2 code):not(:where([class~="not-prose"] *)) {
}
.prose-xl :where(h3 code):not(:where([class~="not-prose"] *)) {
  font-size: 0.9em;
}
.prose-xl :where(pre):not(:where([class~="not-prose"] *)) {
}

code {
  color: var(--tw-prose-code);
  font-weight: 600;
  font-size: 0.9em;
}

code::before {
  content: "`";
}

code::after {
  content: "`";
}

a code {
  color: var(--tw-prose-links);
}

strong {
  color: var(--tw-prose-bold);
  font-weight: 600;
}

em {
}

a {
  color: var(--tw-prose-links);
  text-decoration: underline;
  font-weight: 500;
}

/* img {
  margin-top: 2em;
  margin-bottom: 2em;
} */

/* extend styles */

mark {
}

del {
}

sub {
}

sup {
}

/**
  * Source Code Mode
  * see http://support.typora.io/Code-Block-Styles
  */
#typora-source {
  .cm-header {
  }

  .cm-strong {
  }

  .cm-em {
  }

  .cm-link {
  }

  .cm-string {
  }

  .cm-comment {
  }
}

/**
  * Control UI (optional)
  */

/* button style */
.btn,
.btn .btn-default {
}

/* outline area when popover */
#outline-dropmenu {
}

/* side bar */
.pin-outline #outline-dropmenu {
}

/* when sidepanel is visible */
.pin-outline #write {
}

/* dialogs */
.modal-content {
}
.modal-title {
}

/* search panel */
#md-searchpanel {
}

#write div.md-toc-tooltip {
  background-color: white;
}

/**
  * Control UI on Mac (optional)
  */

/* quick open panel */
#typora-quick-open {
  //background-color: #525C65;
}

#md-searchpanel,
.on-search-panel-open header,
.modal-content,
.popover,
.context-menu {
  //background-color: @dialog-background;
}

.popover.bottom > .arrow:after {
  //border-bottom-color: @dialog-background;
}

/**
  * Control UI on Windows/Linux (optional)
  */

/* context menu */
.context-menu {
}

/* statue bar */
footer {
}

/**
  * Control UI on Windows Unibody Style (optional)
  */

/* left side mega menu */
.megamenu-content {
}
